<% if @page.is_a? String %>
  <% if resource.present? %>
    <li><a href="<%= resource.relative_url %>"><%= resource.data.title %></a></li>
  <% else %>
    <li><a href=""><%= @page %></a></li>
  <% end %>
<% else %>
  <li>
    <% if @page.link %>
      <a href="<%= @page.link %>"><%= @page.label %></a>
    <% else %>
      <%= @page.label %>
    <% end %>
    <ul>
      <% @page.items.each do |subpage| %>
        <%= render Help::SidebarItems.new(page: subpage, page_list: @page_list) %>
      <% end %>
    </ul>
  </li>
<% end %>
